<html>
	<head>
		<title>Avaliação - Primeiro Trimestre</title>
		<meta charset="UTF-8">
		<link href="estilos.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<h1>Cadastro de Material</h1>
		<hr>
		<form action="/processarMaterial" method="post">
			<label for="id">ID do Material:</label><br>
            <input type="text" name="id" id="id" value="<%= material.id %>" readonly="readonly"><br><br>

            <label for="nome">Nome da Material:</label><br>
            <input type="text" name="nome" id="nome" size="30" value="<%= material.nome %>"><br><br>
        
            <label for="descricao">Descrição do Material:</label><br>
            <textarea name="descricao" id="descricao" rows="5" cols="50"> <%= material.descricao %> </textarea><br><br>
            
            <label for="preco">Preço do Material:</label><br>
            <input type="number" name="preco" id="preco" size="10" step="0.1" value="<%= material.preco %>"><br><br>
            
            <label for="unidade">Unidade do Material:</label><br>
            <input type="text" name="unidade" id="unidade" size="20" value="<%= material.unidade %>"><br><br>
			
			<input type="submit" name="acao" value="<%= acao %>">
			<input type="reset" name="limpar" value="Limpar">
		</form>
	</body>
</html>